@keyframes a {
    0%{
        right : -800px;
    }
    10%{
        right : 80px;
    }
    90%{
        right : 80px;
    }
    100%{
        right : -800px;
    }
}

.message {
    animation : a 4s forwards;
}