
@keyframes a {
    0%{
        top : 0;
    }
    50%{
        top : 100%;
    }
    100%{
        top : 0;
    }
}

.skeleton {
    animation : a .6s  infinite forwards;
}
.skeleton:nth-child(3) {
    animation : a .4s  infinite forwards;
}
