@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  
  .testimonial-scroll::-webkit-scrollbar {
    width: 20px;
    height: 15px;
  }
  ::-webkit-scrollbar {
    height: 15px;
    width: 11px;
  }

  .testimonial-scroll::-webkit-scrollbar-track {
    border-radius: 100vh;
    background:#e5e7eb;
    margin:16em
  }
  
  ::-webkit-scrollbar-track {
    background:#e5e7eb;
    
  }

  .testimonial-scroll::-webkit-scrollbar-thumb {
    background: #E13C51;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  ::-webkit-scrollbar-thumb {
    background: #E13C51;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .testimonial-scroll::-webkit-scrollbar-thumb:hover {
    background: #E13C51;
  }
  
  *{
    font-family: 'Poppins', sans-serif;
  }
  html {
    scroll-behavior : smooth
  }
}